@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.logo{
    font-family: "Whisper", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
}

a:hover{
    color:antiquewhite
}

a:visited {
    color: inherit;
}